.Event1{
 width: 100%;
 background-color: white;
 height: 100%;
 width: 100%;
}
.Para1{
    font-weight: 900;
    font-size: 31px;
    font-family:Merriweather;
    text-align: center;
}
.Para2{
    font-weight: 900;
    font-size: 31px;
    font-family: Merriweather;
    text-align: center;
    line-height: 29px;
}
.Event2{
    width: 100%;
    background-color: white;
    height: 100%;
    width: 100%;
   }
   .Event2 button{
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c90e0e;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    transform: perspective(1px) translateZ(0);
    position: relative;
    font-weight: bold;
   }

.accident{
    width: 17%;
    margin-top: -25px;

}