.Frontimage{
    border: 0;
    height: 90vh;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    align-items: center;
    background-size: cover;
    background-position: center center;
}
p{
    line-height: 24px;
}
.Frontimage img {
    height: 100%;
    width: 70%;
    z-index: 40;
}
.Frontimage p{
    color: hotpink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
    position: relative;
    margin-top: -300px;
}
.Frontimage h1{
    color: rgb(124, 235, 124);
    position: relative;
    margin-top: -230px;
}
@media(max-width: 750px){
    .Frontimage{
        width: 100%;
        margin-left: 0%;
    }
    .Frontimage img{
        width: 100%;
    }
}
@media(max-width: 428px){
    .Frontimage{
        width: 425px;
    }
}