.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    background-color: rgb(12 12 37)!important;
    z-index: 30;
}
.Desktop{
    height: 56px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    background-color:rgb(12 12 37)!important;
    z-index: 30;
}
@media(max-width:499px){
    .Desktop{
        display: none;
        
    }
    .Toolbar{
        align-items: flex-start;
        justify-content: left;
        padding-left: 4%;
    }
}