.Home{
    height: 4100px;
    display: flex;
    flex-flow: column;
    overflow: scroll;
}
.body{
   display: flex;
   text-align: left;
   flex-direction: column;
    width: 100%;
    height: 1680px;
    background-color: rgb(248, 246, 246);
    margin-left: 20px;
    margin-top: 40px;
}
.body p{
    position: relative;
    color: rgb(68, 67, 67);
   margin-left: 6%;
   margin-right: 20px;
   padding-top: 0px;
}
.Img1 {
    width: 60%;
    height: 50%;
    align-self: center;
    margin-bottom: 10px;
}
.Img2 {
    width: 60%;
    height: 70%;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
}
.Img3 {
    width: 60%;
    height: 40%;
    margin-right: 40px;
    margin-left: 20px;
    float: left;
    margin-bottom: 10px;
}
.Img4 {
    width: 60%;
    height: 50%;
    margin-right: 40px;
    margin-left: 20px;
    float: left;
    margin-bottom: 10px;
}
.Img5 {
    width: 60%;
    height: 80%;
    margin-right: 40px;
    margin-left: 20px;
    float: left;
    margin-bottom: 10px;
}
@media(max-width: 640px){
    .body{
        width: 100%;
        margin-left: 0px;
        height: 4000px;
    }
    .Img1 {
        height: 10%;
        align-self: center;
    }
}
@media(max-width: 420px){
    .body{
        width: 417px;
    }
    .Img1{
        width: 100%;
    }
    .Img2{
        width: 100%;
    }
    .Img3{
        width: 100%;
    }
    .Img4{
        width: 100%;
    }
    .Img5{
        width: 100%;
    }
}