.Home{
    height: 4100px;
    display: flex;
    flex-flow: column;
    overflow: scroll;
    
}
.container {
    width: 100vw;
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    
}
.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background: #180c0c8c!important;
}
h3 {
  
    font-size: 19px;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 0px;
font-weight: 900!important; 
margin-top: 2%;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

p, h1, h2, h3, h4, h5, h6, ul {
            margin: 0;
            line-height: 24px;
            }
 p{
    font-family: 'Raleway', sans-serif;
         line-height: 24px;
         text-align: justify; 
         color: black;
         font-weight: 700;
  }
  .gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,13,96,1) 11%, rgba(25,152,193,1) 81%);
    display: block;
    min-height: 118px;
  }
  .image_card {
    width: 150px!important;
    height: 150px!important;
    border-radius: 100%!important;
    overflow: hidden;
    border-width: 3px;
    border-color: red;
    position: absolute;
    margin-top: 46px;
  }
  .MDBCards{
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)!important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.16), 0 4px 15px 0 rgba(0 0 0 / 0.86)!important;
  }
 

          
 img {
            max-width: 100%; }
 
    @media(max-width: 759px){
          .imp_AAS{
            margin-top:100% !important;
            background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/238/072/original/abstract-stylish-business-blue-wave-background.jpg');
	        height: 490px;
            background-size: 100% 100%;
            background-attachment: fixed;
            width: 100%;
            }
    }
    .why_AAS{
        width: 50%;
        margin-left: 31%;
        position: sticky;
    }
    @media(min-width: 760px){
        .imp_AAS{
            margin-top:15% !important;
          	background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/238/072/original/abstract-stylish-business-blue-wave-background.jpg');
	        height: 490px;
            background-size: 100% 100%;
            background-attachment: fixed;
            width: 100%;
          }
  }
  @media(max-width: 540px){
    .why_AAS{
        width: 90%;
        margin-left: 6%;
    }
  }